USE [DIAN]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 2015/7/19 14:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE_ID] [varchar](20) NOT NULL,
	[EMPLOYEE_NAME] [varchar](20) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
	[PASSWORD] [varchar](20) NOT NULL,
	[SEX] [char](1) NOT NULL,
	[OFFICE_PHONE] [varchar](20) NOT NULL,
	[MOBILE_PHONE] [varchar](20) NOT NULL,
	[IS_ADMIN] [bit] NOT NULL,
	[CREATE_TIME] [datetime] NULL,
	[CREATE_PERSON] [varchar](20) NULL,
	[UPDATE_TIME] [datetime] NULL,
	[UPDATE_PERSON] [varchar](20) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FOOD]    Script Date: 2015/7/19 14:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FOOD](
	[FOOD_ID] [int] IDENTITY(1,1) NOT NULL,
	[FOOD_NAME] [varchar](50) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
	[FOOD_TYPE_ID] [int] NOT NULL,
	[FOOD_TASTE] [char](1) NOT NULL,
	[DESCRIPTION] [varchar](500) NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[FOOD_IMAGE_NAIL1] [varchar](100) NULL,
	[FOOD_IMAGE_NAIL2] [varchar](100) NULL,
	[FOOD_IMAGE_NAIL3] [varchar](100) NULL,
	[FOOD_IMAGE_NAIL4] [varchar](100) NULL,
	[FOOD_IMAGE1] [varchar](100) NULL,
	[FOOD_IMAGE2] [varchar](100) NULL,
	[FOOD_IMAGE3] [varchar](100) NULL,
	[FOOD_IMAGE4] [varchar](100) NULL,
	[CREATE_TIME] [datetime] NULL,
	[CREATE_PERSON] [varchar](20) NULL,
	[UPDATE_TIME] [datetime] NULL,
	[UPDATE_PERSON] [varchar](20) NULL,
 CONSTRAINT [PK_FOOD] PRIMARY KEY CLUSTERED 
(
	[FOOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FOOD_TYPE]    Script Date: 2015/7/19 14:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FOOD_TYPE](
	[FOOD_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[FOOD_TYPE_NAME] [varchar](50) NOT NULL,
	[RESTAURANT_ID] [int] NULL,
 CONSTRAINT [PK_FOOD_TYPE] PRIMARY KEY CLUSTERED 
(
	[FOOD_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERLIST2]    Script Date: 2015/7/19 14:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERLIST2](
	[LIST_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[FOOD_ID] [int] NOT NULL,
	[COUNT] [int] NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[ORDER_FLAG] [char](1) NOT NULL,
	[ORDER_TIME] [varchar](50) NULL,
	[CONFIRM_TIME] [varchar](50) NULL,
	[CANCEL_TIME] [varchar](50) NULL,
	[FINISH_TIME] [varchar](50) NULL,
	[TASTE] [varchar](1) NULL,
	[REMARK] [varchar](50) NULL,
 CONSTRAINT [PK_ORDERLIST] PRIMARY KEY CLUSTERED 
(
	[LIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERMAIN2]    Script Date: 2015/7/19 14:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERMAIN2](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
	[TABLE_ID] [int] NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[ORDER_FLAG] [char](1) NOT NULL,
 CONSTRAINT [PK_ORDERMain] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESTAURANT]    Script Date: 2015/7/19 14:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESTAURANT](
	[RESTAURANT_ID] [int] IDENTITY(1,1) NOT NULL,
	[RESTAURANT_NAME] [varchar](100) NOT NULL,
	[ADDRESS] [varchar](100) NOT NULL,
	[DESCREPTION] [varchar](200) NOT NULL,
	[LEVEL] [char](1) NOT NULL,
	[AREA] [char](1) NOT NULL,
	[PARKING_COUNT] [int] NOT NULL,
	[RESTAURANT_MAP] [varchar](100) NULL,
	[CREATE_TIME] [datetime] NULL,
	[CREATE_PERSON] [varchar](20) NULL,
	[UPDATE_TIME] [datetime] NULL,
	[UPDATE_PERSON] [varchar](20) NULL,
 CONSTRAINT [PK_RESTAURANT] PRIMARY KEY CLUSTERED 
(
	[RESTAURANT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLE]    Script Date: 2015/7/19 14:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLE](
	[TABLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TABLE_NAME] [varchar](50) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
 CONSTRAINT [PK_TABLE] PRIMARY KEY CLUSTERED 
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO