USE [DIAN]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 2016/1/17 7:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE_ID] [varchar](20) NOT NULL,
	[EMPLOYEE_NAME] [varchar](20) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
	[PASSWORD] [varchar](20) NOT NULL,
	[SEX] [char](1) NOT NULL,
	[OFFICE_PHONE] [varchar](20) NOT NULL,
	[MOBILE_PHONE] [varchar](20) NOT NULL,
	[IS_ADMIN] [bit] NOT NULL,
	[CREATE_TIME] [datetime] NULL,
	[CREATE_PERSON] [varchar](20) NULL,
	[UPDATE_TIME] [datetime] NULL,
	[UPDATE_PERSON] [varchar](20) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FOOD]    Script Date: 2016/1/17 7:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FOOD](
	[FOOD_ID] [int] IDENTITY(1,1) NOT NULL,
	[FOOD_NAME] [varchar](50) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
	[FOOD_TYPE_ID] [int] NOT NULL,
	[FOOD_TASTE] [char](1) NOT NULL,
	[DESCRIPTION] [varchar](500) NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[FOOD_IMAGE_NAIL1] [varchar](100) NULL,
	[FOOD_IMAGE_NAIL2] [varchar](100) NULL,
	[FOOD_IMAGE_NAIL3] [varchar](100) NULL,
	[FOOD_IMAGE_NAIL4] [varchar](100) NULL,
	[FOOD_IMAGE1] [varchar](100) NULL,
	[FOOD_IMAGE2] [varchar](100) NULL,
	[FOOD_IMAGE3] [varchar](100) NULL,
	[FOOD_IMAGE4] [varchar](100) NULL,
	[CREATE_TIME] [datetime] NULL,
	[CREATE_PERSON] [varchar](20) NULL,
	[UPDATE_TIME] [datetime] NULL,
	[UPDATE_PERSON] [varchar](20) NULL,
 CONSTRAINT [PK_FOOD] PRIMARY KEY CLUSTERED 
(
	[FOOD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FOOD_TYPE]    Script Date: 2016/1/17 7:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FOOD_TYPE](
	[FOOD_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[FOOD_TYPE_NAME] [varchar](50) NOT NULL,
	[RESTAURANT_ID] [int] NULL,
 CONSTRAINT [PK_FOOD_TYPE] PRIMARY KEY CLUSTERED 
(
	[FOOD_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERLIST2]    Script Date: 2016/1/17 7:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERLIST](
	[LIST_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[FOOD_ID] [int] NOT NULL,
	[COUNT] [int] NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[ORDER_FLAG] [char](1) NOT NULL,
	[ORDER_TIME] [varchar](50) NULL,
	[CONFIRM_TIME] [varchar](50) NULL,
	[CANCEL_TIME] [varchar](50) NULL,
	[FINISH_TIME] [varchar](50) NULL,
	[TASTE] [varchar](1) NULL,
	[REMARK] [varchar](50) NULL,
 CONSTRAINT [PK_ORDERLIST] PRIMARY KEY CLUSTERED 
(
	[LIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERMAIN2]    Script Date: 2016/1/17 7:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERMAIN](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
	[TABLE_ID] [int] NOT NULL,
	[PRICE] [decimal](18, 2) NOT NULL,
	[ORDER_FLAG] [char](1) NOT NULL,
 CONSTRAINT [PK_ORDERMain] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESTAURANT]    Script Date: 2016/1/17 7:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESTAURANT](
	[RESTAURANT_ID] [int] IDENTITY(1,1) NOT NULL,
	[RESTAURANT_NAME] [varchar](100) NOT NULL,
	[ADDRESS] [varchar](100) NOT NULL,
	[DESCREPTION] [varchar](200) NOT NULL,
	[LEVEL] [char](1) NOT NULL,
	[AREA] [char](1) NOT NULL,
	[PARKING_COUNT] [int] NOT NULL,
	[RESTAURANT_MAP] [varchar](100) NULL,
	[CREATE_TIME] [datetime] NULL,
	[CREATE_PERSON] [varchar](20) NULL,
	[UPDATE_TIME] [datetime] NULL,
	[UPDATE_PERSON] [varchar](20) NULL,
 CONSTRAINT [PK_RESTAURANT] PRIMARY KEY CLUSTERED 
(
	[RESTAURANT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TABLE]    Script Date: 2016/1/17 7:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TABLE](
	[TABLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TABLE_NAME] [varchar](50) NOT NULL,
	[RESTAURANT_ID] [int] NOT NULL,
 CONSTRAINT [PK_TABLE] PRIMARY KEY CLUSTERED 
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ORDERLIST] ADD  CONSTRAINT [DF_ORDERLIST_ORDER_FLAG]  DEFAULT ((0)) FOR [ORDER_FLAG]
GO
ALTER TABLE [dbo].[ORDERLIST] ADD  CONSTRAINT [DF_ORDER_ORDER_TIME]  DEFAULT ('') FOR [ORDER_TIME]
GO
ALTER TABLE [dbo].[ORDERLIST] ADD  CONSTRAINT [DF_ORDER_CONFIRM_TIME]  DEFAULT ('') FOR [CONFIRM_TIME]
GO
ALTER TABLE [dbo].[ORDERLIST] ADD  CONSTRAINT [DF_ORDER_CANCEL_TIME]  DEFAULT ('') FOR [CANCEL_TIME]
GO
ALTER TABLE [dbo].[ORDERLIST] ADD  CONSTRAINT [DF_ORDER_FINISH_TIME]  DEFAULT ('') FOR [FINISH_TIME]
GO

USE [DIAN]

/* 导入店铺数据 */
SET IDENTITY_INSERT RESTAURANT ON
insert RESTAURANT (RESTAURANT_ID,RESTAURANT_NAME,ADDRESS,DESCREPTION,LEVEL,AREA,PARKING_COUNT,RESTAURANT_MAP,CREATE_TIME,CREATE_PERSON,UPDATE_TIME,UPDATE_PERSON)  values ( 1,'机场路分店','机场路分店','机场路分店','4','1',5,NULL,GETDATE(),'admin',GETDATE(),'admin')
insert RESTAURANT (RESTAURANT_ID,RESTAURANT_NAME,ADDRESS,DESCREPTION,LEVEL,AREA,PARKING_COUNT,RESTAURANT_MAP,CREATE_TIME,CREATE_PERSON,UPDATE_TIME,UPDATE_PERSON)  values ( 2,'北京路分店','北京路分店','北京路分店','1','1',5,NULL,GETDATE(),'admin',GETDATE(),'admin')
insert RESTAURANT (RESTAURANT_ID,RESTAURANT_NAME,ADDRESS,DESCREPTION,LEVEL,AREA,PARKING_COUNT,RESTAURANT_MAP,CREATE_TIME,CREATE_PERSON,UPDATE_TIME,UPDATE_PERSON)  values ( 3,'越秀公园分店','越秀公园分店','越秀公园分店','1','1',10,NULL,GETDATE(),'admin',GETDATE(),'admin')
SET IDENTITY_INSERT RESTAURANT OFF

/* 导入用户数据 */
insert EMPLOYEE (EMPLOYEE_ID,EMPLOYEE_NAME,RESTAURANT_ID,PASSWORD,SEX,OFFICE_PHONE,MOBILE_PHONE,IS_ADMIN,CREATE_TIME,CREATE_PERSON,UPDATE_TIME,UPDATE_PERSON)  values ( 'admin','admin',1,'admin','3','','123',1,GETDATE(),'admin',GETDATE(),'admin')
insert EMPLOYEE (EMPLOYEE_ID,EMPLOYEE_NAME,RESTAURANT_ID,PASSWORD,SEX,OFFICE_PHONE,MOBILE_PHONE,IS_ADMIN,CREATE_TIME,CREATE_PERSON,UPDATE_TIME,UPDATE_PERSON)  values ( 'user001','user001',1,'123','1','','123',0,GETDATE(),'admin',GETDATE(),'admin')
insert EMPLOYEE (EMPLOYEE_ID,EMPLOYEE_NAME,RESTAURANT_ID,PASSWORD,SEX,OFFICE_PHONE,MOBILE_PHONE,IS_ADMIN,CREATE_TIME,CREATE_PERSON,UPDATE_TIME,UPDATE_PERSON)  values ( 'user002','user002',2,'123','2','','123',0,GETDATE(),'admin',GETDATE(),'admin')

/* 导入菜品类别数据 */
SET IDENTITY_INSERT FOOD_TYPE ON
insert FOOD_TYPE (FOOD_TYPE_ID,FOOD_TYPE_NAME,RESTAURANT_ID)  values ( 1,'特色菜',1)
insert FOOD_TYPE (FOOD_TYPE_ID,FOOD_TYPE_NAME,RESTAURANT_ID)  values ( 2,'川菜',1)
insert FOOD_TYPE (FOOD_TYPE_ID,FOOD_TYPE_NAME,RESTAURANT_ID)  values ( 3,'湘菜',1)
SET IDENTITY_INSERT FOOD_TYPE OFF

/* 导入菜品详细数据 */
SET IDENTITY_INSERT FOOD ON
insert FOOD (FOOD_ID,FOOD_NAME,RESTAURANT_ID,FOOD_TYPE_ID,FOOD_TASTE,DESCRIPTION,PRICE,FOOD_IMAGE_NAIL1,FOOD_IMAGE_NAIL2,FOOD_IMAGE_NAIL3,FOOD_IMAGE_NAIL4,FOOD_IMAGE1,FOOD_IMAGE2,FOOD_IMAGE3,FOOD_IMAGE4,CREATE_TIME,CREATE_PERSON,UPDATE_TIME,UPDATE_PERSON)  
values ( 1,'回锅肉',1,1,'6','回锅肉',28.00,'Images/FOOD_IMAGE_PATH/c69e3190-3bc3-46b7-81c6-ff094679f1fa_nail.jpg',NULL,NULL,NULL,'Images/FOOD_IMAGE_PATH/c69e3190-3bc3-46b7-81c6-ff094679f1fa.jpg',NULL,NULL,NULL,GETDATE(),'admin',GETDATE(),'admin')
insert FOOD (FOOD_ID,FOOD_NAME,RESTAURANT_ID,FOOD_TYPE_ID,FOOD_TASTE,DESCRIPTION,PRICE,FOOD_IMAGE_NAIL1,FOOD_IMAGE_NAIL2,FOOD_IMAGE_NAIL3,FOOD_IMAGE_NAIL4,FOOD_IMAGE1,FOOD_IMAGE2,FOOD_IMAGE3,FOOD_IMAGE4,CREATE_TIME,CREATE_PERSON,UPDATE_TIME,UPDATE_PERSON)  
values ( 2,'鱼香肉丝',1,2,'5','鱼香肉丝',32.00,'Images/FOOD_IMAGE_PATH/0f208684-b724-4d2e-a92f-699e24d8502b_nail.jpg',NULL,NULL,NULL,'Images/FOOD_IMAGE_PATH/0f208684-b724-4d2e-a92f-699e24d8502b.jpg',NULL,NULL,NULL,GETDATE(),'admin',GETDATE(),'admin')
insert FOOD (FOOD_ID,FOOD_NAME,RESTAURANT_ID,FOOD_TYPE_ID,FOOD_TASTE,DESCRIPTION,PRICE,FOOD_IMAGE_NAIL1,FOOD_IMAGE_NAIL2,FOOD_IMAGE_NAIL3,FOOD_IMAGE_NAIL4,FOOD_IMAGE1,FOOD_IMAGE2,FOOD_IMAGE3,FOOD_IMAGE4,CREATE_TIME,CREATE_PERSON,UPDATE_TIME,UPDATE_PERSON)  
values ( 3,'剁椒鱼头',1,3,'5','鲜嫩可口',38.00,'Images/FOOD_IMAGE_PATH/f53d0d7f-34d8-4977-8295-67c374c17748_nail.jpg',NULL,NULL,NULL,'Images/FOOD_IMAGE_PATH/f53d0d7f-34d8-4977-8295-67c374c17748.jpg',NULL,NULL,NULL,GETDATE(),'admin',GETDATE(),'admin')
SET IDENTITY_INSERT FOOD OFF


GO