<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DIAN" connectionString="Data Source=STONEWORKPC;Initial Catalog=DIAN;Integrated Security=False;User ID=sa;Password=sa;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    <add name="DIAN2" connectionString="Data Source=STONE;Initial Catalog=DIAN;Integrated Security=False;User ID=sa;Password=sa;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    <add name="jialisi" connectionString="Data Source=qds115038312.my3w.com;Integrated Security=False;User ID=qds115038312;Password=shijiajie;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultDataBase" value="DIAN"/>
  </appSettings>
</configuration>
