<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="macbook" connectionString="Data Source=.;Initial Catalog=DIAN;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultDataBase" value="macbook"/>
  </appSettings>
</configuration>
