<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- MainServer为主服务器，SecondaryServer为备用服务器 -->
    <!--key:自己取的名字，value:由地址和调用模式组成,中间用|分隔-->
    <!--第一段是地址；含协议，地址和端口 例如tcp:10.1.1.1:1234-->
    <!--第二段是模式DARW，D-开发模式 A-assembly模式，R-remoting模式；W-webservice模式-->
    <!--第三段是是否用cache 0-不用 1-用 -->
    <add key="MainServer" value ="TCP://10.108.15.28:9090|A|0"/>
    <add key="SecondaryServer" value ="TCP://10.101.1.1:9090|A|0"/>
    <add key="DefaultServer" value="MainServer"/>
    <!-- 启用备用服务器SecondaryServer后，重新测试主服务器需要的时间（秒），该功能目前只对UI调用的AppBiz有效 -->
    <add key="ReCheckMainServerTick" value="300" />

    <!-- 以下是各函数的接口列表-->
    <!--key格式：接口的namespace＋接口名-->
    <!--value格式：BIZ的namespace+类名,assembly名，一定要注意，namespace+类名也作为remoting和webservice的server端objectUri名称-->
    <!--<add key="EDMS.Common.Interfaces.IEDMS_DOC" value="EDMS.Biz.Doc.EDMS_DOCBiz,EDMS.Biz.Doc" />-->

    <!--附件-->
    <add key="OA30.Common.Interface.DocService.IOaDocAttachmentDAOService" value="OA30.BIZ.DocServices.Doc.OaDocAttachmentDAOService,OA30.BIZ.DocServices" />
    <!--签报(呈批件)-->
    <add key="OA30.Common.Interface.DocService.IReportDocService" value="OA30.BIZ.DocServices.ReportDocService,OA30.BIZ.DocServices" />
    <!--移动版公文-->
    <add key="OA30.Common.Interface.DocService.IMobileDocService" value="OA30.BIZ.DocServices.MobileDocService,OA30.BIZ.DocServices" />
    <!--地址簿-->
    <add key="OA30.Common.Interface.DocService.IDocAddressService" value="OA30.BIZ.DocServices.DocAddressService,OA30.BIZ.DocServices" />
    <!--传阅-->
    <add key="OA30.Common.Interface.DocService.IPassDocService" value="OA30.BIZ.DocServices.PassDocService,OA30.BIZ.DocServices" />
    <!--个人意见-->
    <add key="OA30.Common.Interface.DocService.IDocPersonalOpinionService" value="OA30.BIZ.DocServices.DocPersonalOpinionService,OA30.BIZ.DocServices" />
    <!--公文主体-->
    <add key="OA30.Common.Interface.DocService.IDocBodyService" value="OA30.BIZ.DocServices.DocBodyService,OA30.BIZ.DocServices" />
    <!--撰写公文时读取模板等信息-->
    <add key="OA30.Common.Interface.DocService.ICreateDocService" value="OA30.BIZ.DocServices.CreateDocService,OA30.BIZ.DocServices" />
    <!--政发-->
    <add key="OA30.Common.Interface.DocService.IZFDocService" value="OA30.BIZ.DocServices.ZFDocService,OA30.BIZ.DocServices" />

    <!--***************************静态数据表*************************-->
    <!--用户表-->
    <add key="OA30.Common.Interface.DocService.BasicData.IOaEmployeesDAOService" value="OA30.BIZ.DocServices.Doc.OaEmployeesDAOService,OA30.BIZ.DocServices" />
    <!--公文类型表-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDocTypeService" value="OA30.BIZ.DocServices.BasicData.DocTypeService,OA30.BIZ.DocServices" />
    <!--公文模板表-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDefinitionTemplateService" value="OA30.BIZ.DocServices.BasicData.DefinitionTemplateService,OA30.BIZ.DocServices" />
    <!--公文步骤表-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDocStepService" value="OA30.BIZ.DocServices.BasicData.DocStepService,OA30.BIZ.DocServices" />
    <!--公文角色表-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDefinitionRoleService" value="OA30.BIZ.DocServices.BasicData.DefinitionRoleService,OA30.BIZ.DocServices" />
    <!--发文字号表-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDoc_MaskService" value="OA30.BIZ.DocServices.BasicData.DocMaskService,OA30.BIZ.DocServices" />
    <add key="OA30.Common.Interface.DocService.IOaDocMaskDAOService" value="OA30.BIZ.DocServices.Doc.OaDocMaskDAOService,OA30.BIZ.DocServices" />
    <!--督办字号表-->
    <add key="OA30.Common.Interface.DocService.BasicData.IJD_MaskService" value="OA30.BIZ.DocServices.BasicData.JDMaskService,OA30.BIZ.DocServices" />
    <!--信息管理员-->
    <add key="OA30.Common.Interface.DocService.BasicData.IOA_DOC_ADMINDAOService" value="OA30.BIZ.DocServices.BasicData.OaDocAdminDaoService,OA30.BIZ.DocServices" />
    <!--委托授权-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDocConsignService" value="OA30.BIZ.DocServices.BasicData.DocConsignService,OA30.BIZ.DocServices" />
    <!--领导秘书-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDocLeaderSecretaryService" value="OA30.BIZ.DocServices.BasicData.DocLeaderSecretaryService,OA30.BIZ.DocServices" />
    <!--部门角色-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDefinitionDeptRoleService" value="OA30.BIZ.DocServices.BasicData.DefinitionDeptRoleService,OA30.BIZ.DocServices" />
    <!--部门模板-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDefinitionTemplateDeptService" value="OA30.BIZ.DocServices.BasicData.DefinitionTemplateDeptService,OA30.BIZ.DocServices" />
    <!--流转步骤定义表-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDefinitionWfService" value="OA30.BIZ.DocServices.BasicData.DefinitionWfService,OA30.BIZ.DocServices" />
    <!--公文印章-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDocImgCachetUserService" value="OA30.BIZ.DocServices.BasicData.DocImgCachetUserService,OA30.BIZ.DocServices" />
    <!--图片印章-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDocCachetService" value="OA30.BIZ.DocServices.BasicData.DocCachetService,OA30.BIZ.DocServices" />
    <!--通用发文组-->
    <add key="OA30.Common.Interface.DocService.BasicData.IAddressService" value="OA30.BIZ.DocServices.BasicData.AddressService,OA30.BIZ.DocServices" />
    <!--部门管理员-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDept_AdminService" value="OA30.BIZ.DocServices.BasicData.Dept_AdminService,OA30.BIZ.DocServices" />
    <add key="OA30.Common.Interface.DocService.BasicData.IDeptAdminService" value="OA30.BIZ.DocServices.BasicData.DeptAdminService,OA30.BIZ.DocServices" />
    <!--运维工具-->
    <add key="OA30.Common.Interface.DocService.BasicData.IDocFlowManageService" value="OA30.BIZ.DocServices.BasicData.DocFlowManageService,OA30.BIZ.DocServices" />
    <!--**************************公文表******************************-->
    <!--部门表(公文)-->
    <add key="OA30.Common.Interface.DocService.IOaDefinitionDeptDAOService" value="OA30.BIZ.DocServices.Doc.OaDefinitionDeptDAOService,OA30.BIZ.DocServices" />
    <!--发文表-->
    <add key="OA30.Common.Interface.DocService.IOaDocSendfileRegisterDAOService" value="OA30.BIZ.DocServices.Doc.OaDocSendfileRegisterDAOService,OA30.BIZ.DocServices" />
    <!--收文表-->
    <add key="OA30.Common.Interface.DocService.IOaDocRecvfileRegisterDAOService" value="OA30.BIZ.DocServices.Doc.OaDocRecvfileRegisterDAOService,OA30.BIZ.DocServices" />
    <!--公文主表-->
    <add key="OA30.Common.Interface.DocService.IOaDocDAOService" value="OA30.BIZ.DocServices.Doc.OaDocDAOService,OA30.BIZ.DocServices" />
    <!--公文流转表-->
    <add key="OA30.Common.Interface.DocService.IOaDocFlowDAOService" value="OA30.BIZ.DocServices.Doc.OaDocFlowDAOService,OA30.BIZ.DocServices" />
    <!--公文流转表(4个表)-->
    <add key="OA30.Common.Interface.DocService.IOA_DOC_FLOW_WAITINGDAOService" value="OA30.BIZ.DocServices.Doc.OaDocFlowWaitingDAOService,OA30.BIZ.DocServices" />
    <add key="OA30.Common.Interface.DocService.IOA_DOC_FLOW_FINISHDAOService" value="OA30.BIZ.DocServices.Doc.OaDocFlowFinishDAOService,OA30.BIZ.DocServices" />
    <add key="OA30.Common.Interface.DocService.IOA_DOC_FLOW_CY_WAITINGDAOService" value="OA30.BIZ.DocServices.Doc.OaDocFlowCyWaitingDAOService,OA30.BIZ.DocServices" />
    <add key="OA30.Common.Interface.DocService.IOA_DOC_FLOW_CY_FINISHDAOService" value="OA30.BIZ.DocServices.Doc.OaDocFlowCyFinishDAOService,OA30.BIZ.DocServices" />
    <!--公文超时-->
    <add key="OA30.Common.Interface.DocService.IOaOverTimeService" value="OA30.BIZ.DocServices.Doc.OaOverTimeService,OA30.BIZ.DocServices" />
    <!--跟踪箱-->
    <add key="OA30.Common.Interface.DocService.IOaDocFlowAssistDAOService" value="OA30.BIZ.DocServices.Doc.OaDocFlowAssistDAOService,OA30.BIZ.DocServices" />
    <!--历史公文查询-->
    <add key="OA30.Common.Interface.DocService.IOaHistoricDocDAOService" value="OA30.BIZ.DocServices.Doc.OaHistoricDocDAOService,OA30.BIZ.DocServices" />
    <!--公文查询-->
    <add key="OA30.Common.Interface.DocService.IOaDocQueryDAOService" value="OA30.BIZ.DocServices.Doc.OaDocQueryDAOService,OA30.BIZ.DocServices" />
    <!--公文归档-->
    <add key="OA30.Common.Interface.DocService.IDocFilingService" value="OA30.BIZ.DocServices.DocFilingService,OA30.BIZ.DocServices" />
    <!--部门角色表(公文)-->
    <add key="OA30.Common.Interface.DocService.IOaDefinitionDeptRoleDAOService" value="OA30.BIZ.DocServices.Doc.OaDefinitionDeptRoleDAOService,OA30.BIZ.DocServices" />
    <!-- -->
    <add key="OA30.Common.Interface.DocService.IOaAddressGroupDeptDAOService" value="OA30.BIZ.DocServices.Doc.OaAddressGroupDeptDAOService,OA30.BIZ.DocServices" />
    <!-- -->
    <add key="OA30.Common.Interface.DocService.IOaDocTypeDAOService" value="OA30.BIZ.DocServices.Doc.OaDocTypeDAOService,OA30.BIZ.DocServices" />
    <!-- 模板定义 -->
    <add key="OA30.Common.Interface.DocService.IOaDefinitionTemplateDAOService" value="OA30.BIZ.DocServices.Doc.OaDefinitionTemplateDAOService,OA30.BIZ.DocServices" />
    <add key="OA30.Common.Interface.DocService.IOaDocStepDAOService" value="OA30.BIZ.DocServices.Doc.OaDocStepDAOService,OA30.BIZ.DocServices" />
    <add key="OA30.Common.Interface.DocService.IOaDefinitionRoleDAOService" value="OA30.BIZ.DocServices.Doc.OaDefinitionRoleDAOService,OA30.BIZ.DocServices" />

  </appSettings>
</configuration>